@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #4d4d4d;
}

[contenteditable]:empty:before {
  content: attr(data-placeholder);
  color: rgba(255,255,255,0.3);
} 

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-text {
    @apply cursor-pointer text-white/60 hover:text-white transition-all
    duration-300;
  }

  .scrollbar-thumb-only {
    scrollbar-color: var(--accent) transparent;
    scrollbar-width: thin;
  }

  .scrollbar-thumb-only::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-thumb-only::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thumb-only::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
}